<html>
<body>

<h1>New menu item</h1>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="post">
    <!--<p> New menu item: </p>-->
        <input type="text" name="name" size="30" placeholder="Name">
        <input type="text" name="description" size="200" placeholder="Description">
        <input type="text" name="price" min="0" max="1000" step="0,01" placeholder="Price">
        <input type="text" name="course" size="120" placeholder="Course">

    <input type="submit" value="Create">
</form>


</body>
</html>