<html>

<link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">

<body>

<div class="pane">
    <div class="header">
    </div>

<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
{% endif %}
{% endwith %}


    <a href="{{url_for('addRestaurant')}}">Add new restaurant</a>

{% for i in restaurants %}

    <div>
        <p><a href="{{url_for('restaurantMenu', restaurant_id=i.id)}}">{{i.name}}</a></p>


    </div>


{% endfor %}
</div>
</body>

</html>
